<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
	
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title> ITI TOOLS Supplier - Deals in all types of ITI Tools (Fitter, Electrician, Welder)</title>
	        
	    <link rel="stylesheet" href="./public/css/eric-meyer-reset.min.css" type="text/css">
        
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
       
        <!-- LIGHTBOX CSS-->
        <link href="/public/css/lightbox.min.css" rel="stylesheet"> 
        
         <!-- Bootstrap js -->   
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       
        <!-- STYLE --> 
        <link rel="stylesheet" href="./public/css/style.css" type="text/css">
        <link rel="stylesheet" href="./public/css/smallscreen.css" type="text/css"> 
    
        <!-- FONT -->
        <link href="https://fonts.googleapis.com/css?family=Raleway|Josefin+Sans" rel="stylesheet">
        
         <!-- Start WOWSlider.com HEAD section -->
        <link rel="stylesheet" type="text/css" href="./public/engine1/style.css" />
        <script type="text/javascript" src="./public/engine1/jquery.js"></script>
        <!-- End WOWSlider.com HEAD section -->
         
    </head>
<body  ng-controller="myCtrl" ng-init="showData()">
   
    <nav class="navbar navbar-default">
        <div class="container-fluid">
      
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">M.H. TRADING CO.</a>
            </div>
      
            <div class="collapse navbar-collapse" id="myNavbar">
                
                <ul class="nav navbar-nav navbar-right">
                    
                    <li ng-repeat="nav in navs" ng-click="select($index)">
                        <a  ng-href="#/{{nav.URL}}" ng-class="{active : $index == selected}">  {{nav.name}} 
                        </a>
                    </li>
                    
                </ul>
    
            </div>
        </div>
    </nav>
     
    <div class="container-fluid" ng-view>
        <!-- APP CONTENT GOES HERE --> 
    </div>
    
   
    <div id="footer">
        <p>
            &copy; 2019 (www.ititools.co) 
            <span style="color:red">M.H. Trading Co.</span>
        </p>
    </div>
    
    <!-- ANGULAR & LIGHTBOX-->
    <script src="./public/js/angular.min.js"></script>
    <script src="./public/js/angular-route.min.js"></script>
    <script src="./public/js/app.js"></script>
    <script src="./public/js/lightbox.min.js"></script>
    
    
</body>
</html>
